node_modules
.git
.github
.husky
packages/**/tests
plugins/**/tests
CHANGELOG.md
README.md
LICENSE
docs
boilerplates
Dockerfile
Dockerfile.dev
.dockerignore
.gitignore
.gitlab-ci.yml
.npmignore
.vscode
**/Dockerfile
**/Dockerfile.dev
**/node_modules
**/.gitignore
**/.npmignore
docker-compose.yaml
docker-compose.*.yaml
.nvmrc
.versionrc.js
dist