apiVersion: v1
kind: Service
metadata:
  labels:
    component: {{ or .Values.component .Chart.Name }}
    application: {{ .Values.global.repositoryName }}
  name: {{ or .Values.component .Chart.Name }}
  namespace: {{ or .Values.namespace .Values.global.namespace }}
  annotations:
    {{- include "annotations.kapp-service" . | nindent 4 }}
spec:
  ports:
    - name: http
      port: 80
      targetPort: 3000
  selector:
    component: {{ or .Values.component .Chart.Name }}
  type: ClusterIP
  