name: Tests deploy

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"

concurrency:
  cancel-in-progress: true
  group: tests-deploy-${{ github.ref_name }}

jobs:
  test-standalone-charts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: write .kontinuous/config.yaml
        shell: bash
        run: ./.github/scripts/write-kontinuous-config-yaml.sh
      - name: Kubernetes KinD Cluster
        uses: helm/kind-action@v1.2.0
      - run: kubectl cluster-info
      - run: kubectl version
      - run: kubectl get pods -n kube-system
      - run: kubectl create ns test-project-ci
      - name: test standalone-charts
        uses: "./"
        with:
          environment: prod
          inlineSet: |
            global.antiAffinity.enabled: false
          token: ${{ secrets.GITHUB_TOKEN }}
          rancherProjectId: "cluster:project"
          ciNamespace: "test-project-ci"
          cwd: .github/e2e/standalone-charts
          kubeconfigContext: kind-chart-testing
      - run: kubectl get jobs -n test-project-ci
      - run: kubectl get jobs -n test-project-ci --field-selector status.successful=1 | grep "job-extra" # additionnal grep to exit 1 on error
  test-values-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: write .kontinuous/config.yaml
        shell: bash
        run: ./.github/scripts/write-kontinuous-config-yaml.sh
      - name: Kubernetes KinD Cluster
        uses: helm/kind-action@v1.2.0
      - run: kubectl cluster-info
      - run: kubectl version
      - run: kubectl get pods -n kube-system
      - run: kubectl create ns test-project-ci
      - name: test values-js
        uses: "./"
        with:
          environment: prod
          inlineSet: |
            global.antiAffinity.enabled: false
          token: ${{ secrets.GITHUB_TOKEN }}
          rancherProjectId: "cluster:project"
          ciNamespace: "test-project-ci"
          cwd: .github/e2e/values-js
          kubeconfigContext: kind-chart-testing
      - run: kubectl get pods -n test-namespace
      - name: pod is running
        run: kubectl get pods -n test-namespace --field-selector=status.phase=Running | grep "app"
      - name: ingress
        run: kubectl get ingress -n test-namespace --field-selector metadata.name=app -o=jsonpath='{.items[0].spec.rules[0].host}' | grep "test.demo.net"
  app-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: write .kontinuous/config.yaml
        shell: bash
        run: ./.github/scripts/write-kontinuous-config-yaml.sh
      - name: Kubernetes KinD Cluster
        uses: helm/kind-action@v1.2.0
      - run: kubectl create ns test-project-ci
      - name: test app-simple
        uses: "./"
        with:
          environment: prod
          inlineSet: |
            global.antiAffinity.enabled: false
          token: ${{ secrets.GITHUB_TOKEN }}
          rancherProjectId: "cluster:project"
          ciNamespace: "test-project-ci"
          cwd: .github/e2e/app-simple
          kubeconfigContext: kind-chart-testing
          inlineValues: |
            app:
              image: nginx
              containerPort: 80
      - run: kubectl get pods -n kontinuous
      - run: kubectl get pods -n kontinuous --field-selector=status.phase=Running | grep "app"
  app-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: write .kontinuous/config.yaml
        shell: bash
        run: ./.github/scripts/write-kontinuous-config-yaml.sh
      - name: Kubernetes KinD Cluster
        uses: helm/kind-action@v1.2.0
      - run: kubectl create ns test-project-ci
      - name: test app-simple
        uses: "./"
        with:
          environment: prod
          inlineSet: |
            global.antiAffinity.enabled: false
          token: ${{ secrets.GITHUB_TOKEN }}
          rancherProjectId: "cluster:project"
          ciNamespace: "test-project-ci"
          cwd: .github/e2e/app-simple
          kubeconfigContext: kind-chart-testing
          inlineValues: |
            global:
              imageRepository: ""
            app:
              imagePackage: nginx
              imageRepository: ""
              registry: docker.io
              containerPort: 80
        env:
          KS_GIT_REF: v1.21.6
      - run: kubectl get pods -n kontinuous
      - run: kubectl get pods -n kontinuous --field-selector=status.phase=Running | grep "app"
      - name: "use tagged image"
        run:
          kubectl get pods -n kontinuous --field-selector=status.phase=Running -o jsonpath="{.items[*].spec.containers[*].image}" | grep "docker.io/nginx:1.21.6" 